* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #F0F2F5;
}

h1 {
  text-align: center;
  margin: 0 10px;
  margin-bottom: 15px;
}

textarea, input {
  display: block
}

input {
  border-radius: .25rem;
  height: 25px;
  margin-bottom: 5px;
  border: 1px solid black;
  font-family: 'Roboto', sans-serif;
  font: 300;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

label {
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font: 400;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font: 500 medium;
}

button {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 1rem;
  border: 0; 
  height: 25px;
  padding: 10px 24px;
  transition: .2s;
  background: #0091ad;
  font-family: 'Roboto', sans-serif;
}

button:hover {
  filter: brightness(.9); 
}